mixin navbar(activePage, ...pages)
    nav(class="navbar sticky-top box-shadow")
        div(class="container")
            div(class="col-12")
                div(class="navbar-brand")
                    h1 SpellSmash
                        i(class="fas fa-hat-wizard wizard-icon")
        div(class="navbar-container")
            ul(class="navbar-navitems row")
                each page in pages
                    li(class="nav-item col")
                        if activePage === page
                            a(class="nav-link active" href=page)= page
                        else
                            a(class="nav-link" href=page)= page