extends layout

mixin card(title, hours, location, dates, isWork, ...bulletpoints)
    .cv-card.d-flex.justify-content-center
        .col.cv-card-info.text-center.box-shadow
            div.cv-title-container.d-flex.justify-content-center
                if isWork
                    img.cv-card-image(src="images/icons/work.svg")
                else
                    img.cv-card-image(src="images/icons/education.svg")
                h3.cv-title= title
            p.cv-hours-location= hours + " @ " + location
            p.cv-dates= dates
            ul.cv-bulletpoints 
                each bulletpoint in bulletpoints
                    li.cv-bulletpoint 
                        p.cv-bulletpoint-content= bulletpoint

block navbar 
  include includes/navbar.pug
  +navbar("CV", "Home", "CV", "Press")
block content 
    div(class="container")
        div(class="row intro-bar")
            div(class="col text-center my-image-container")
                img(src="images/me2.jpg" class="image my-image box-shadow" id="my-cv-image" alt="Me")
            div(class="col blurb box-shadow")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec risus tempus sapien imperdiet scelerisque. Suspendisse enim magna, porta a blandit a, scelerisque at risus. Donec eleifend odio rhoncus, auctor lectus ut, mollis nulla. In hac habitasse platea dictumst. Mauris sollicitudin nulla velit, sit amet interdum libero luctus maximus. Fusce pellentesque orci vitae eros ullamcorper, at ultrices leo malesuada. Mauris nec mattis urna. Sed vel enim quam. Sed in elementum justo, vel venenatis velit. 
        +card('Frontline Service Engineer', 'Full-Time', 'Payara', 'Oct 2020 - Now', true, '100% SLA targets met, 100% Customer Satisfaction.', 'Dealing with complex customer issues that occur in production environments.', 'Responsible for bringing average response time to tickets from 24-hours to 1-hour.', 
        'Spearheading a company technical knowledge base migration and overhaul, organising and working with multiple departments.', 'Simpyfing and automating the documentation release process to a single click.', 'Working with customers globally')

        +card('QA & CI Engineer', 'Full-Time', 'Payara', 'March 2020 - October 2020', true, 'Set up IT asset managment system', 'bringing automated pull request testing to Enterprise distributions', 
        'Writing Integration and Unit tests for the product', 'Orchastrating monthly releases of the product', 'Scripting to improve docker image release process')

        +card('Software Engineer', 'Full-Time', 'Payara', 'June 2019 - March 2020', true, 'Primary developer for company customer portal', 'Full Stack developtment with REST, Java EE, JSF and CSS')

        +card('Software Engineer', 'Full-Time', 'Payara', 'Nov 2018 - June 2019', true, 'Technical team member for the developtment of Payara Server', 'Fixing Bugs and Implementing features')

        +card('Student', 'Part-Time', 'Aston University', 'Nov 2018 - Now', false, 'Studying BSc Digital & Technology Solutions')

        +card('Student', 'Full-Time', 'Hereford Sixth Form', 'September 2016 - July 2018', false, 'A-Level Computer Science', 'A-Level Physics', 'A-Level Psychology')

        +card('Student', 'Full-Time', 'Whitecross High School', 'September 2011 - July 2016', false, 'Studied 9 GCSES')