extends layout

block navbar 
  include includes/navbar.pug
block content 
    div(class="container")
        
        div(class="row row-cols-2 text-center jobs")
            div(class="col-12")
                img(src="images/me2.jpg" class="image" id="my-image" alt="Me")
            div(class="col-12 time-card")
                h2 Today
            div(class="col-12 d-flex justify-content-end job-card")
                div
                    p Frontline Service Engineer
                    p Full-Time 
                    p Payara
                    p October 2020 - Present
            div(class="col-12 d-flex justify-content-start job-card")
                div
                    p QA & CI Engineer 
                    p Full-Time
                    p Payara
                    p March 2020 - October 2020
            div(class="col-12 d-flex justify-content-end job-card")
                div
                    p Web Application Developer
                    p Full-Time
                    p Payara
                    p June 2019 - March 2020
            div(class="col-12 d-flex justify-content-start job-card")
                div
                    p Application Server Developer
                    p Full-Time
                    p Payara
                    p November 2018 - June 2019
            div(class="col-12 d-flex justify-content-end job-card")
                div
                    p Student
                    p Full-Time
                    p Hereford Sixth Form College
                    p September 2016 - September 2018
        div
            h1 Qualificaitons
            div(class="col-12 qualification-card")
                p 2018-present
                p BSc Digital & Technology Solutions
            div(class="col-12 qualification-card")
                p 2016-2018
                p A-level Computer Science B
                p A-level Psychology B
                p A-level Physics D
            div(class="col-12 qualification-card")
                p 2011-2016
                p GCSE 9 A-C
            
            