extends layout

block navbar 
  include includes/navbar.pug
block content
  div(class="container")
    div(class="row justify-content-evenly")
      div(class="col-6")
        img(src="images/me.jpg" class="image" id="my-image" alt="Me")
      div(class="col-6")
        h1 Who Am I?
        p A 20-something professional problem-solver, employed as a Software Engineer. Born in Poland, based in the UK. 
        p Currently employed at Payara as a Degree Software Engineering Apprentice with Aston University.
        p Passionate. Self-motivated. Creative. Open-minded.
        p Jakarta EE Comittee Member for JSTL and JSP specs.
    div(class="row justify-content-evenly")
      div(class="col-6")
        h1 Life Story
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin sed libero enim sed faucibus turpis in eu mi. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Nibh sed pulvinar proin gravida hendrerit lectus. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Magna etiam tempor orci eu lobortis elementum nibh tellus. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat. Molestie a iaculis at erat pellentesque. Mi quis hendrerit dolor magna eget est lorem ipsum. Ultrices sagittis orci a scelerisque. Aliquam ut porttitor leo a diam sollicitudin tempor id. Porttitor lacus luctus accumsan tortor posuere.
      div(class="col-6")
        img(src="images/me3.jpg" class="image" id="my-image" alt="Me")
