extends layout

block navbar 
  include includes/navbar.pug
block content
  div(class="container")
    div(class="row justify-content-evenly")
      div(class="col-6")
        img(src="images/me.jpg" class="image my-image" alt="Me")
      div(class="col-6")
        div(class="info-block")
          h1 Hey! I'm Alan.
          p A 20-something professional problem-solver, currently employed as a Software Engineer. Born in Poland, based in the UK. 
          p Currently employed at Payara as a Degree Software Engineering Apprentice with Aston University.
          p Passionate. Self-motivated. Creative. Open-minded.
          p Jakarta EE Comittee Member for JSTL and JSP specs.
    div(class="row justify-content-evenly")
      div(class="col-6")
        div(class="info-block")
          div
            a(href="mailto:alanroth.business@gmail.com")
              img(src="images/icons/gmail.svg" class="image icon")
            a(href="https://github.com/AlanRoth")
              img(src="images/icons/github.svg" class="image icon")
          div
            a(href="#")
              img(src="images/icons/linkedin.svg" class="image icon")
            a(href="https://www.instagram.com/slothroth")
              img(src="images/icons/instagram.svg" class="image icon")
      div(class="col-6")
        img(src="images/me3.jpg" class="image my-image" alt="Me")
