extends layout

block navbar 
  include includes/navbar.pug
block content
  h1= title
  p Welcome to #{title}
  div(class="container")
    div(class="row justify-content-evenly")
      div(class="col-4")
        img(src="images/me.jpg" class="image" id="my-image" alt="Me")
      div(class="col-4")
        p Just A 20-something, easy-going Software Developer, early in his career. Born in Poland, based in the UK. 
        p Fluent in Polish and English, alongside learning Russian and Italian as a hobby. Found a passion for programming 
          | when I was 12 and have been programming since. I love to create, tinker, disassemble or assemble, whether that is lego or code.
        p Currently enrolled in a degree apprenticeship scheme with Aston University and Payara. Which offers unique oppertunities such as being able to 
          | start my career as a Software Engineer at 18, alongside attending events to speak to students at my old college, telling them how great apprenticehsips are.
          | Some parents and students-alike contacted the company to send praise. See more details on my CV page.
        p Earning an income at a young age inspired me to learn more about finances and investing, even delving into economics at times.
        p When I'm not doing anything serious, I play around with motion graphics, developing a teaching youtube channel and a Udemy course.
