extends layout

block navbar 
  include includes/navbar.pug
  +navbar("Press", "Home", "CV", "Press")
block content
    div 
        a https://www.worcesternews.co.uk/news/17851003.malvern-tech-firm-payara-wins-support-district-council-apprentices/
    div
        a https://www.worcesternews.co.uk/news/18115068.tech-firm-payara-signs-degree-apprenticeship-scheme-aston-university/