extends layout

mixin press-segment(title, subtitle, content, link)
  div(class="col-12 press-segment")
    h1.press-title=title 
    h3.press-subtitle=subtitle 
    p.press-content=content
      div.fade-gradient
    div(class="continue")
      a(href=link class="press-link") Continue Reading

block navbar 
  include includes/navbar.pug
  +navbar("Press", "Home", "CV", "Press")
block content
  div(class="container")
    div(class="row d-flex justify-content-center")
      +press-segment("Malvern tech firm Payara wins support from District Council for apprentices",
      "A MALVERN technology firm has been chosen to benefit from council support to train apprentices and boost jobs in the area.",
      "Payara, which is based at the Malvern Hills Science Park, has been chosen by Malvern Hills District Council to receive £1,000 per apprentice to fund their training and development with the company. Christine Butler of MHDC said: \"Payara ticks all the boxes that we look for in a trainer. \"We haven’t worked with them before, but the company has an approach and an energy that allows them to engage effectively with the apprentices and we are very confident that they will be given excellent training and support.\"" ,
      "https://www.worcesternews.co.uk/news/17851003.malvern-tech-firm-payara-wins-support-district-council-apprentices/")
      
      +press-segment("Tech firm Payara signs up for degree apprenticeship scheme with Aston University",
      "A MALVERN tech firm is celebrating joining forces to provide apprenticeships.",
      "Tech firm Payara Services Ltd has signed up for a partnership with the West Midlands Combined Authority (WMCA), who have presented the Malvern based company with funding for its 2020 apprenticeship programme. With the support of the WMCA, Payara is able to continue its long-standing partnership with Aston University and offer two more individuals a degree apprenticeship in BSc digital and technology solutions. The educational establishment has worked closely with Payara for many years, ensuring that all apprentices successfully integrate their theoretical knowledge with their on-the-job training.",
      "https://www.worcesternews.co.uk/news/18115068.tech-firm-payara-signs-degree-apprenticeship-scheme-aston-university/")