:root {
    --background-colour: #596C68;
    --background-colour-dark: rgb(77, 97, 93);
    --background-colour-spellsmash: #4d5c9e;
    --colour-white: #F6F7F5;
    --colour-accent: #B5A77E;
    --colour1: #E8A163;
    --colour1-active: #f2b783;
    --colour2: #BDBBB1;
    --colour3: #82B2B3;
    --colour4: #36364A;
    --colour5: #E6DEBE;
    --colour6: #B6CDAD;
    --colour7: #5750ff;
    --colour7-active: #5f9bff;
    --card-background: #957bff;

    --gmail-red: #EA4335;
    --github-grey: #181717;
    --linkedin-blue: #0a66c2;
    --instagram-pink: #E4405F;
}

.box-shadow {
    box-shadow: 0px 0px 15px rgba(0,0,0,1);
}

.red {
    background-color: red;;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}