.icon-right {
    float: right;
    margin-right: 130px;
}

.icon-left {
    float: left;
    margin-left: 130px;
}

#my-cv-image {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cv-card-info {
    max-width: 50ch;
    padding: 20px;
}

.cv-card-info div img {
    margin-right: 10px;
    height: 32px;
    width: 32px;
}

.cv-title-container h3 {
    font-weight: bold;
}

.cv-card-info .cv-bulletpoints {
    text-align: left;
}

.cv-hours-location {
    font-weight: bold;
}