.my-image {
    box-shadow: 0px 3px 15px rgba(0,0,0,1);
    height:358px;
    width:358px;
    border-radius: 50%;
}

.icon {
    height:128px;
    width:128px;
}

.cv-icon {
    height:96px;
    width:96px;
}
