body {
    background-color: var(--background-colour);
}

.contact-me {
    list-style-type: none;
    margin-top: 50px;
}

.contact-me .contact-element {
    display: inline-block;
    padding: 20px;
}

.table {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.contact-element .icon {
    padding: 20px;
}

.about-me {
    margin-top: 150px;
}

.info-block {
    margin-top: 25px;
}

.contact-me .svg {
    fill: var(--colour4);
}

.contact-me .svg:hover {
    fill: var(--colour4);
    animation: up-bump 0.2s forwards ease;
}

#gmail-svg:hover {
    fill: var(--gmail-red);
}

#github-svg:hover {
    fill: var(--github-grey);
}

#linkedin-svg:hover {
    fill: var(--linkedin-blue);
}

#instagram-svg:hover {
    fill: var(--instagram-pink);
}

@keyframes up-bump {
    0% {transform: translateY(0%);}
    100% {transform: translateY(-15%);}
}

@media only screen and (max-width: 991px) {
    .about-me .col {
        padding-left: 70px;
        padding-right: 70px;
        text-align: center;
    }

    .contact-element .icon {
        height: 80px;
        width: 80px;
    }
}