.navbar {
    background-color: var(--colour1);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
}

.navbar-navitems {
    list-style-type: none;
    margin-right: 20px
}

.nav-item {
    margin-left: 20px;
    margin-top: 15px;
    border: 2px;
}

.nav-item a:hover{
    background-color: var(--colour1-active);
    border-radius: 5px;
}

.nav-item .active {
    background-color: var(--colour1-active);
    border-radius: 5px;
}

.nav-item a{
    text-decoration: none;
    color: var(--colour-white);
}

@media only screen and (max-width: 1567px) {
    nav {
        text-align: center;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-container {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1568px) {
    nav {
        text-align: left;
    }

    .navbar-container {
        text-align: right;
    }
}