.press-segment {
    padding: 50px;
    background-color: var(--colour-accent);
    box-shadow: 0px 3px 15px rgba(0,0,0,1);
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100ch;
}

.press-title::before {
    content: url("../images/icons/newspaper.svg");
    display: block;
    height: 120px;
    width: 120px;
}

.press-content {
    position: relative;
    max-height: 110px;
    overflow:hidden;
}

.press-segment .continue {
    position: absolute;
    width: 100%;
    left:0;
    text-align: center;
}

.fade-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 150px 0;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, #B5A77E);
}

.press-segment h1, .press-segment h2, .press-segment h3, .press-segment p {
    color: white;
}